<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/sign-in.css' %}">
    <link rel="stylesheet" href="{% static 'css/recipe_header.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">
    <title>Password Reset Complete - SoDelicious</title>
    <link rel="icon" href="{% static 'images/landing-page-images/SD.svg' %}">
</head>
<body>
<div class="page-container">

    {% include 'recipes/recipe_header.html' %}

    <div class="main">
        <div class="SITYA">
            <h1>Password Reset Complete</h1>
        </div>

        <div class="display_text">
            <p><br />Your password has been set. You may <a href="{% url 'users:login' %}">log in</a> now.</p>
        </div>
    </div>
</div>
</body>
</html>