* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    overscroll-behavior-x: none;
}

.page-container {
    width: 100%;
    height: 100%;
}

/* Body */

#blurb {
    width: 75%;
    text-align: center;
    position: relative;
    margin: 0 auto;
}

.blurb {
    text-align: center;
    margin: 2% auto;
}

.recipe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: solid black 1px;
    margin: 0 auto;
}

.recipe img,
.restaurant img {
    width: 400px;
    height: 400px;
    object-fit: contain;
}

.recipe a {
    text-decoration: none;
    color: black;
}

.restaurant {
    display: flex;
    border: solid black 1px;
    border-style: solid solid solid none;
}

#recipe {
    text-align: center;
    padding-top: 2em;
}

#recipe-name {
    padding: 4em;
    text-align: center;
}

#restaurant {
    text-align: center;
    padding: 2em;
}

#spice {
    padding: 1em;
}

#home {
    position: relative;
    right: 1.1em;
}

.home {
    position: relative;
    top: 0.2em;
    right: 6em;
}

#address {
    position: relative;
    left: 6em;
    text-align: left;
    bottom: 2em;
}

#rest-image {
    position: relative;
    left: 2.5em;
}

.food {
    display: flex;
    flex-direction: row;
    margin: 2% auto;
}
/*
#logo {
    padding: 1em;
}*/

.blurb2 {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    background-color: #b1d8b7;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.blurb2 img {
    margin: 10px auto;
}


/* Footer */

footer {

}


/* Media Query */

@media screen and (max-width:526px) {
    .food {
        flex-direction: column;
    }
    .recipe,
    .restaurant {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }
    .restaurant {
        flex-direction: column;
    }
    #restaurant {
        width: auto;
    }
    .food-image {
        width: 60%;
        height: 60%;
        margin: 0 auto;
    }
    #blurb {
        text-align: center;
        padding-bottom: 1em;
    }
    #recipe-name {
        padding: 1em;
    }
    .recipe img {
        max-width: 250px;
        height: auto;
    }
}