.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #b1d8b7;
}

#hamnav {
    position: relative;
    margin: 0;
    width: 120px;
}

#hamitems {
    border: 2px solid;
    background-color: white;
    position: absolute;
    width: 300px;
    left: 0;
    top: 100%;
    z-index: 1;
    text-align: center;
}

 /* HAMBURGER MENU: (A) BREAK INTO VERTICAL MENU */
 #hamitems a {
    box-sizing: border-box;
    display: block;
    border: none;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 700;
    margin-top: 15%;
  }

 /* (B) ANIMATE HAMBURGER MENU */
  .hamburger {
    display: inline-block;
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 50%;
    width: 20px;
    height: 16px;
    position: relative;
    cursor: pointer;
}

.hamburger .bar {
    padding: 0;
    width: 20px;
    height: 2px;
    background-color: black;
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute;
}

.bar1 {
    top: 0;
}

.bar2,
.bar3 {
    top: 7px;
}

.bar3 {
    right: 0;
}

.bar4 {
    bottom: 0;
}

  .checkbox1:checked + label > .hamburger1 > .bar1{
    transform: rotate(45deg);
    transform-origin: 5%;
    width: 22px
}

.checkbox1:checked + label > .hamburger1 > .bar2 {
    transform: translateX(-40px);
    background-color: transparent;
}

.checkbox1:checked + label > .hamburger1 > .bar3 {
    transform: translateX(40px);
    background-color: transparent;
}

.checkbox1:checked + label > .hamburger1 > .bar4 {
    transform-origin: 5%;
    transform: rotate(-45deg);
    width: 22px;
}

/* (C) TOGGLE SHOW/HIDE MENU */
#hamitems { display: none; }
#hamnav input:checked ~ #hamitems { display: block; }
#checkbox1 {display: none;}

.subscribe {
    margin-top: 20%;
    border-top: 2px solid rgba(0, 0, 0, 0.15);
}

.label {
    display: inline-block;
    margin-top: 10%;
}

.email_input {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    font-size: 14px;
    text-indent: 5%;
    margin-top: 10px;
    width: 75%;
    height: 40px;
    margin-bottom: 20px;
}

.email_input:focus {
    outline: none;
}

.email_submit {
    border: 0;
    border-radius: 50px;
    font-size: 14px;
    margin-top: 10px;
    height: 40px;
    margin-bottom: 20px;
    background-color: black;
    color: white;
    margin-left: -50px;
    width: 25%;
    height: 40px;
    cursor: pointer;
}

.right-links {
    margin: 0;
    width: 120px;
}

.right-links a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    padding-left: 8px;

}

.logo {
/*    padding-left: 89px;*/
}

.logo img {
    width: 165px;
    align-items: center;
    margin: 0 auto;
}

.messages ul{
    display: table;
    margin: 0 auto;
    font-weight: bold;
}

.messages li{
    decoration: none;
}

.messages .error {
    color: red;
}

.messages .success {
    color: green;
}

.pagination {
    text-align: center;
}

.icons {
    bottom: 0px;
    width: 100%;
    text-align: center;
    overflow:hidden;
    margin: 25px auto;
}

.icons a {
    padding: 10px;
}

/* MOBILE */
/* MOBILE */
@media screen and (max-device-width: 810px)  {
/*    .logo {
        padding-left: 45px;
    }*/
}


@media only screen and (max-width: 768px) {
/*    .icons {
        margin-top: 10%;
    }*/
}