<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Recipe Categories</title>
  {% load static %}
</head>
<body>
{% include 'recipes/link_header.html' %}
<h3>Category List:</h3>
<ul>
  <li><a href="{% url 'recipes:recipe_list' %}">Show all recipes</a>
  </li>
</ul>
{% if category_list %}
<ul>
  {% for category in category_list %}
  <li><a href="{% url 'recipes:category' category.id %}">{{ category.name }}</a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No data is available.</p>
{% endif %}
</body>
</html>