{% load static %}
<footer>
    <div class="icons">
        <a href="https://www.facebook.com/" id="fb"><img src="{% static 'images/RecipePage1-Images/facebook.svg' %}"></a>
        <a href="https://www.instagram.com/" id="ig"><img src="{% static 'images/RecipePage1-Images/instagram.svg' %}"></a>
        <a href="https://www.linkedin.com/" id="li"><img src="{% static 'images/RecipePage1-Images/linkedin.svg' %}"></a>
        <a href="https://twitter.com/" id="tw"><img src="{% static 'images/RecipePage1-Images/twitter.svg' %}"></a>
        <a href="https://www.youtube.com/" id="yt"><img src="{% static 'images/RecipePage1-Images/youtube.svg' %}"></a>
    </div>
</footer>