<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/sign-in.css' %}">
    <link rel="stylesheet" href="{% static 'css/recipe_header.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">
    <title>Register - SoDelicious</title>
    <link rel="icon" href="{% static 'images/landing-page-images/SD.svg' %}">
</head>
<body>
<div class="page-container">

    {% include 'recipes/recipe_header.html' %}

    <div class="main">
        <div class="SITYA">
            <h1>Register for an account</h1>
        </div>

        <div class="need-account">
            <p>Have an account? <a class="link" href="{% url 'users:login' %}">Sign in.</a></p>
        </div>

        <div class="search-bubbles">
            <form action="{% url 'users:register' %}" method="post">
                {% csrf_token %}
                <b><label class="email-label">{{ form.email.label }}</label></b>
                &nbsp;&nbsp;&nbsp;<i>* {{ form.email.help_text }}</i>
                <br/>
                {{ form.email }}
                <br/>
                {{ form.email.errors.as_text|escape }}
                <br/>
                <br/>
                <b><label class="pw-label">{{ form.password1.label }}</label></b>
                <br/>
                {{ form.password1 }}
                <br/>
                {{ form.password1.errors.as_text|escape }}
                <br/>
                <br/>
                <b><label class="pw-label">{{ form.password2.label }}</label></b>
                <br/>
                {{ form.password2 }}
                <br/>
                {{ form.password2.errors.as_text|escape }}
                <br />
                <br />
                <input class="SI" type="submit" value="REGISTER">
            </form>
        </div>
    </div>

    <div class="bottom">
        <div class="blurb2">
            <img src="{% static 'images/Highly-rec-images/So Delicious.png' %}" alt="so delicious logo" id="logo">
            <p id="rec">Recipes you want to make.<br />Cooking advice that works.</p>
        </div>
        {% include 'recipes/recipe_footer.html' %}
    </div>
</div>
</body>
</html>